{erl_opts, [debug_info,
	   {i,"include"},
	   {i,"common_include"},
	   {i,"_build/default/lib/*/include"},   
            {d, 'EDOC', [{doc_path, "doc"}]}]}.
	    
{deps, [
       {host_server,{git,"https://github.com/joq62/host_server.git",{branch,"main"}}},
       
       {common,{git,"https://github.com/joq62/common.git",{branch,"main"}}},
       {rd,{git,"https://github.com/joq62/rd.git",{branch,"main"}}},
       {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}}
       ]}.